.footer {
  background-color: #000;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  margin-top: 60px;
  font-size: 1.2rem;
}